---
import { getAllItems } from "@lib/getAllItems";
import Layout from "@layouts/Layout.astro";
import type { WpCPTBitacoras } from "@lib/types";
import BitacoraCard from "@components/BitacoraCard.astro";

const bitacoras: WpCPTBitacoras[] = await getAllItems("bitacoras");
---

<Layout title="Bitacoras" description="All bitacoras you can buy">
    <div class="bg-slate-200 dark:bg-slate-800 rounded-lg py-12">
        <h1 class="text-center dark:text-slate-300 text-3xl">Bitacoras</h1>
    </div>

    <div class="flex flex-wrap pt-5 -mx-2.5">
        {
            bitacoras.map(bitacora => (
                <BitacoraCard property={bitacora} server:defer>
                    <span
                        slot="fallback"
                        class="bg-slate-200 dark:bg-slate-800 text-3xl opacity-70">
                        Cargando...
                    </span>
                </BitacoraCard>
            ))
        }
    </div>
</Layout>
