---
import { getAllItems } from "@lib/getAllItems";
import Layout from "@layouts/Layout.astro";
import type { WpCPTBitacoras } from "@lib/types";
import Card from "@components/Card.astro";

const bitacoras: WpCPTBitacoras[] = await getAllItems("bitacorasDeViaje");
---

<Layout title="Bitacoras" description="All bitacoras you can buy">
    <div class="bg-slate-200 dark:bg-slate-800 rounded-lg py-12">
        <h1 class="text-center dark:text-slate-300 text-3xl">Bitacoras</h1>
    </div>

    <div class="flex flex-wrap pt-5 -mx-2.5">
        {
            bitacoras.map(bitacora => (
                <Card property={bitacora} server:defer>
                    <span
                        slot="fallback"
                        class="bg-slate-200 dark:bg-slate-800 text-3xl opacity-70 motion-preset-spin">
                        Cargando...
                    </span>
                </Card>
            ))
        }
    </div>
</Layout>
