---
import type { Page } from "astro";
import Layout from "@layouts/Layout.astro";
import { getAllItems } from "@lib/getAllItems";
import Card from "@components/Card.astro";
import type { PaginateFn, WpPost } from "@lib/types";

export const prerender = true;
export async function getStaticPaths({
    paginate
}: {
    paginate: PaginateFn<WpPost>;
}) {
    const posts = await getAllItems("tutoriales");

    return paginate(posts, { pageSize: 6 });
}
const { page } = Astro.props as { page: Page<WpPost> };

const posts = page.data;
---

<Layout title="All our news" description="Read all our stories">
    <div class="bg-slate-200 rounded-lg py-12">
        <h1 class="text-center text-3xl">Our Bambucletas Articles</h1>
    </div>

    <div class="flex flex-wrap pt-5 -mx-2.5">
        {posts.map((post: WpPost) => <Card post={post} />)}
    </div>

    <div class="flex gap-6 justify-center items-center py-12">
        {
            page.url.prev && (
                <a
                    class="p-3 rounded-md bg-slate-500 text-white"
                    href={page.url.prev}>
                    Previous
                </a>
            )
        }
        {
            page.url.next && (
                <a
                    class="p-3 rounded-md bg-slate-500 text-white"
                    href={page.url.next}>
                    Next
                </a>
            )
        }
    </div>
    <div>What is this</div>
</Layout>
