---
import type { ItemSlugNodes } from "@lib/types";
import Layout from "@layouts/Layout.astro";
import { getAllItemSlugs } from "@lib/getAllItemSlugs";
import Card from "@components/Card.astro";
import { postByTagQuery } from "@lib/postByTagQuery";

export const prerender = true;
export async function getStaticPaths() {
    const tags:ItemSlugNodes[] = await getAllItemSlugs("tags");
    const paths = tags.map((tag: ItemSlugNodes) => {
        return {
            params: { tag: tag.slug },
            props: { tagName: tag.name, tagDescription: tag.description }
        };
    });

    return paths;
}

const { tag } = Astro.params;
const { tagName, tagDescription } = Astro.props;

const posts = await postByTagQuery(tag);
---

<Layout title={tagName} description={tagDescription}>
    <div class="bg-slate-200 dark:bg-slate-700 rounded-lg py-12">
        <h1 class="text-center dark:text-slate-200 text-3xl">{tagName}</h1>
    </div>
    <div class="flex flex-wrap pt-5 -mx-2.5">
        {posts.map((post: string) => <Card post={post} />)}
    </div>
</Layout>
