---
const links = [
    { href: "/", text: "Inicio" },
    { href: "/historia", text: "Historia" },
    { href: "/tutoriales", text: "Tutoriales" },
    { href: "/reflexiones", text: "Reflexiones" }
];
const currentPage = Astro.url.pathname;
const { classes } = Astro.props;
---

{
    links.map(link => {
        if (currentPage === link.href) {
            return (
                <span
                    class="py-2 px-3 text-white bg-black rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500 font-medium"
                    aria-current="page">
                    {link.text}
                </span>
            );
        } else {
            return (
                <a href={link.href} class={classes}>
                    {link.text}
                </a>
            );
        }
    })
}
