<footer class="bg-slate-300 py-10 px-4 text-center">
    <div class="container mx-auto">Copyright 2024</div>
    <div class="container mx-auto"><a href="/posts">List of Posts</a> </div>
</footer>
