---
import { getAllItemSlugs } from "@lib/getAllItemSlugs";
import type { ItemSlugNodes } from "@lib/types";
import ToggleTheme from "./ToggleTheme.astro";

const tags: ItemSlugNodes[] = await getAllItemSlugs("tags");
---

<header class="bg-slate-200 dark:bg-slate-900 py-5 px-10 text-center">
    <div class="container mx-auto flex justify-between items-center">
        <a
            class="text-lg font-bold inline-block bg-slate-700 dark:bg-slate-300 text-slate-200 dark:text-slate-800 py-4 px-8 rounded-md"
            href="/">Astro + WP Headless</a
        >
        <div class="flex items-center gap-8">
            <a
                class="font-bold hover:underline
                text-slate-800
                dark:text-slate-300"
                href={`/properties`}>Properties</a
            >
            {
                tags.map(tag => (
                    <a
                        class="font-bold hover:underline text-slate-800
                dark:text-slate-300"
                        href={`/tags/${tag.slug}`}>
                        {tag.name}
                    </a>
                ))
            }
        </div>
        <ToggleTheme />
    </div>
</header>
