---
import Card from "./Card.astro";

const { title, items } = Astro.props;
---

<section class="py-16">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 gradient-heading py-2">
            {title}
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {items.map((post) => <Card item={post} />)}
        </div>
    </div>
</section>
