---
import { recentPostsQuery } from "@lib/recentPostsQuery";
import type { WPPost } from "@lib/wpQuery";
import PostCard from "./PostCard.astro";

const posts = await recentPostsQuery();
---

<div class="bg-slate-200 rounded-lg py-12">
    <h1 class="text-center text-3xl">Our Articles</h1>
</div>

<section class="flex flex-wrap pt-5 -mx-2.5">
    {posts.map((post: WPPost) => <PostCard post={post} />)}
</section>
