---
import { recentPostsQuery } from "@lib/recentPostsQuery";
import type { WpPost } from "@lib/types";
import Card from "./Card.astro";

const posts = await recentPostsQuery();
---

<section class="py-16">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8">Publicaciones Recientes</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {posts.map((post: WpPost) => <Card item={post} />)}
        </div>
    </div>
</section>
