---
import Footer from "@components/footer/Footer.astro";
import { ClientRouter } from "astro:transitions";
import Navigation from "@components/Navigation.astro";
import NavBar from "@components/mobilemenu/NavBar.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/ico.svg" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <ClientRouter />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <div class="container mx-auto"></div>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        --tw-gradient-stops: #ffffff, #fff2c7, #ffffff;
        --foreground: #020817;
        --card: #ffffff;
        --card-foreground: #020817;
        --popover: #ffffff;
        --popover-foreground: #020817;
        --primary: #0f172a;
        --primary-foreground: #f8fafc;
        --secondary: #f1f5f9;
        --secondary-foreground: #0f172a;
        --muted: #f1f5f9;
        --muted-foreground: #64748b;
        --accent: #4c739a;
        --accent-foreground: #0f172a;
        --destructive: #ef4444;
        --destructive-foreground: #f8fafc;
        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #020817;
        --radius: 0.5rem;
        --hover-bg: rgba(0, 0, 0, 0.05);
    }

    .dark {
        --tw-gradient-stops: #000, #111, #000;
        --foreground: #f8fafc;
        --card: #131a2b1c;
        --card-foreground: #f8fafc;
        --popover: #0f172a;
        --popover-foreground: #f8fafc;
        --primary: #f8fafc;
        --primary-foreground: #0f172a;
        --secondary: #1e293b;
        --secondary-foreground: #f8fafc;
        --muted: #1e293b;
        --muted-foreground: #94a3b8;
        --accent: #fff99a;
        --accent-foreground: #f8fafc;
        --destructive: #7f1d1d;
        --destructive-foreground: #f8fafc;
        --border: #1e293b;
        --input: #1e293b;
        --ring: #cbd5e1;
        --hover-bg: rgba(255, 255, 255, 0.05);
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-gradient-to-br text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
</style>

<script>
    const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    if (theme === "light") {
        document.documentElement.classList.remove("dark");
    } else {
        document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme || "light");
</script>
